__pycache__/
*.pyc
*.pyo
.venv/

src/DotAbyssClient/bin/
src/DotAbyssClient/obj/

tools/bin/*
!tools/bin/.gitkeep

workspace/*
!workspace/.gitkeep

src/AdvPlayer/data/*
!src/AdvPlayer/data/.gitkeep

src/AdvPlayer/data_r18_all/*
!src/AdvPlayer/data_r18_all/.gitkeep
